body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #4ce0b3;
    flex-direction: row;
    justify-content: space-between;
}
.info {
    display: flex;
    background-color: #4ce0b3;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
.infoRightImage {
    width: 600px;
    height: auto;
}
.infoLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signUp {
    background-color: #ED6A5E;
    padding: 16px 32px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}
.infoTwo {
    display: flex;
    flex-direction: column;
    background-color: #FFAF87;
    align-items: center;
}
.frontPageImages {
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
}
.fpi {
    width: 150px;
    height: auto;
    text-align: center;
}
.quoteBox {
    display: flex;
    background-color: #ED6A5E;
    flex-direction: column;
    align-items: center;
}
.quote {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    font-style: italic;
    font-size: 36px;
}
.quotee {
margin-left: 300px;
font-size: 20px;
}
.headerLogo {
    font-size: 20px;
    font-style: bold;
    padding-top: 15px;
}
.topRightLinks {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
li {
    text-decoration: none;
    list-style: none;
}
ul {
    list-style-type: none;
}
.callToActionBox {
    display: flex;
    flex-direction: column;
    background-color: #4ce0b3;
    align-items: center;
    padding: 15px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #377771;
    padding: 25px;
}
.signUpTwo {
    font-size: 15px;
    background-color: #ED6A5E;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}